auto-install-peers=true
dedupe-peer-dependents=true
link-workspace-packages=true
save-workspace-protocol=rolling
prefer-workspace-packages=true
strict-peer-dependencies=false
public-hoist-pattern[]=@types/*
engine-strict=false
